.home-top {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.button-cat,
.button-fav {
  background-color: #FFC500;
}

.home-container {
  margin-top: 25px; 
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}


.layout {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

/* Sidebar base */
.sidebar {
    width: 220px;
    background-color: #1b1b1b;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-shrink: 0;
}

/* Botón hamburguesa */
.menu-toggle {
    background-color: #ffc500;
    border: none;
    color: black;
    font-size: 28px;
    padding: 10px 20px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
    border-radius: 5px;
    cursor: pointer;
}

/* Main content */
.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #000;
}

/* Cards */
.fixed-card {
    width: 100%;
    background-color: #222;
    color: white;
    border: 2px solid #FFC500;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;  /* Aplicando borde redondeado en todo el contenedor */
    overflow: hidden;     /* Aseguramos que el contenido se recorte correctamente */
}

.fixed-card:hover {
    transform: scale(1.10);
}

/* Estilo para las imágenes con bordes redondeados solo arriba */
.fixed-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;  /* Redondeo de esquina superior izquierda */
    border-top-right-radius: 15px; /* Redondeo de esquina superior derecha */
}

/* Botón de categoría personalizado */
.btn.category-btn {
  background-color: #1c1c1c;
  color: #f5c518;
  border: 1px solid #f5c518;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px 20px;
  transition: all 0.3s ease;
}

.btn.category-btn:hover {
  background-color: #f5c518;
  color: #1c1c1c;
}

/* Estilo del dropdown */
.dropdown-menu {
  background-color: #2b2b2b;
  border: 1px solid #444;
}

.dropdown-item {
  color: #f5c518;
}

.dropdown-item:hover {
  background-color: #f5c518;
  color: #1c1c1c;
}


.card-body {
  position: relative;
}

.card-title-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  margin: 0 auto;
  color: white;
  font-size: 0.85rem; /* antes era 1rem */
}

.favorite-icon {
  position: absolute;
  right: 0;
  font-size: 1.1rem;
  cursor: pointer;
  user-select: none;
}


