.home-top {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.button-cat,
.button-fav {
    color: black;
    background-color:#FFC500;
    border: none;
    padding: 8px 8px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 0 10px #ffe81f80;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.button-cat:hover,
.button-fav:hover {
    background-color: #fff349;
    transform: scale(1.05);
    box-shadow: 0 0 15px #fff349a0;
}

.button-fav {
    background-color: #ff7f50;
    box-shadow: 0 0 10px #ff7f5080;
}

.button-fav:hover {
    background-color: #ffa07a;
    box-shadow: 0 0 15px #ffa07aa0;
}
.outer-container {
  display: flex;
  justify-content: center;
}

.card-title {
  margin: 0 auto;
  color: white;
  font-size: 0.85rem;
}

.favorite-icon {
  position: absolute;
  right: 0;
  font-size: 1.1rem;
  cursor: pointer;
  user-select: none;
}
