.card {
    width: 170px;
    height: 150px !important;
}

.character-detail-container {
    margin-top: 20px;
    color: white;
}

.character-detail-content {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.character-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.character-info {
    flex: 1;
}

.character-info h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.character-info p {
    font-size: 18px;
    line-height: 1.5;
}

.character-details {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.character-detail-item {
    flex: 1 1 45%;
    font-size: 18px;
}

.character-detail-item h5 {
    font-weight: bold;
    color: #FFC500;
}

hr {
    border: 1px solid #FFC500;
    margin: 20px 0;
}

.star-wars-font {
    font-family: 'Star Wars', sans-serif;
  }

/* Aplicar a navbar y barra inferior */
.navbar-title {
    font-family: 'Star Wars', sans-serif !important;
    font-size: 5vh; /* Se adapta dinámicamente al ancho de la pantalla */
    color: #FFC500;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

.navbar-bottom {
  padding: 30px 0;
  text-align: center;
  border-bottom: 2px solid #FFC500;
}

.navbar-bottom a {
  color: #FFC500;
  text-decoration: none;
  font-size: 2vh;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 15px;
  transition: 0.3s;
}

.navbar-bottom a:hover {
  color: #FFF;
}