.planet-detail-container {
    margin-top: 20px;
    color: white;
}

.planet-detail-content {
    display: flex;
    align-items: flex-start;
    gap: 30px; /* Espacio entre la imagen y el texto */
}

.planet-image {
    width: 500px;  /* Ancho fijo grande */
    height: 400px; /* Alto fijo grande */
    object-fit: cover; /* Mantiene la proporción sin deformar */
    border-radius: 10px;
}

.planet-info {
    flex: 1; /* Para que el texto ocupe el resto del espacio */
}

.planet-info h1 {
    font-size: 40px; /* Tamaño grande del título */
    margin-bottom: 10px;
}

.planet-info p {
    font-size: 18px;
    line-height: 1.5;
}

.planet-details {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.planet-detail-item {
    flex: 1 1 45%; /* Cada item ocupa el 45% del ancho */
    font-size: 18px;
}

.planet-detail-item h5 {
    font-weight: bold;
    color: #FFC500; /* Dorado Star Wars */
}

hr {
    border: 1px solid #FFC500;
    margin: 20px 0;
}
